{% extends 'horoscope/base.html' %}

{% load static %}
{% load my_filter %}

{% block css_additional %} <link rel="stylesheet" href="{% static 'horoscope/css/info.css' %}"> {% endblock %}

{% block title %}Гороскоп для {{ sign|upper }}{% endblock %}

{% block content %}

    {% include 'includes/navbar.html' %}
    <h1>{{ description|split|first }}</h1>

    {% if description is None %}
        <h2>Неправильный знак зодиака - {{ sign|upper }}</h2>
    {% else %}
        <h2>{{ description|capfirst }}</h2>
    {% endif %}

{% endblock %}